.navbar {
  background: #556677; /* cinza azulado suave */
  border-bottom: none;
  color: #f0f0f0;
}

.nav-btn {
  color: #f0f0f0;
}

.nav-btn:hover {
  background-color: #78909c;
  color: #fff;
}

header a button {
  background-color: #556677;
}

header a button:hover {
  background-color: #405560;
}

footer {
  border-top: 1px solid #556677;
}

footer a {
  color: #556677;
}
